body {
  background: $color-background;
  color: $color-font-main;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 2rem;
}

header, main, footer {
  padding: 2rem;
  border: 2px solid $color-font-main;
}

.site-title {
  text-align: center;
  font-weight: $header-font-weight;
  font-size: $header-font-size;
}

footer {
  text-align: center;
}
